demo/Library
demo/Temp
demo/Assembly-CSharp-Editor.csproj
demo/Assembly-CSharp.csproj
demo/demo.sln
demo/demo.csproj
demo/demo.Editor.csproj
demo/obj
demo/.vs
demo/tmp
demo/Assets/AssetStoreTools
demo/Assets/AssetStoreTools.meta
builds/Windows/player_win_x86.pdb
builds/Windows/player_win_x86_s.pdb